{% for fieldset in fieldsets %}
  <div
    class="{% if fieldset.useShallowSpacing is not defined or fieldset.useShallowSpacing %}p-section--shallow{% endif %}
      {%- if fieldset.inputType == 'radio' %} js-remove-radio-names{% endif %}
      {%- if fieldset.inputType == 'checkbox' and fieldset.isRequired %} js-required-checkbox{% endif %}
      {%- if fieldset.inputType == 'checkbox-visibility' %} js-toggle-checkbox-visibility{% endif %}"
  >
    {% if fieldset.title %}
      <label id="{{ fieldset.id }}_label">{{ fieldset.title }}</label>
    {% endif %}

    {% for field in fieldset.fields %}
      {% if field.type == "text" or field.type == "tel" %}
        <div>
          {% if field.label %}
            <label for="{{ field.id }}"
              {% if field.isRequired %} class="is-required"{% endif %}
            >{{ field.label }}</label>
          {% endif %}
          <input
            type="{{ field.type }}"
            id="{{ field.id }}"
            name="{{ field.id }}"
            {% if field.isRequired %}required{% endif %}
          />
        </div>

      {% elif field.type == "long-text" %}
        <div>
          {% if field.label %}
            <label for="{{ field.id }}"
              {% if field.isRequired %} class="is-required"{% endif %}
            >{{ field.label }}</label>
          {% endif %}
          <textarea
            id="{{ field.id }}"
            name="{{ field.id }}"
            {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
            {% if field.isRequired %}required{% endif %}
          ></textarea>
        </div>

      {% elif field.type == "select" %}
        <div>
          {% if field.label %}
            <label for="{{ field.id }}"
              {% if field.isRequired %} class="is-required"{% endif %}
            >{{ field.label }}</label>
          {% endif %}
          <select id="{{ field.id }}" name="{{ field.id }}" {% if field.isRequired %}required{% endif %}>
            {% for option in field.options %}
              <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
          </select>
        </div>

      {% elif field.type == "radio" %}
        <label class="p-radio">
          <input
            type="radio"
            id="{{ field.id }}"
            name="{{ fieldset.inputName | default(fieldset.id) }}"
            value="{{ field.value }}"
            class="p-radio__input"
            {% if field.isSelected %}checked{% endif %}
            {% if field.isRequired %}required{% endif %}
          />
          <span class="p-radio__label">{{ field.label }}</span>
        </label>
        {% if field.hasTextArea %}
          <textarea
            name="{{ field.id }}_text"
            class="u-hide js-other-text"
            aria-hidden="true"
          ></textarea>
        {% endif %}

      {% elif field.type == "checkbox" %}
        <label class="p-checkbox{% if not loop.first %} u-no-margin--top{% endif %}">
          <input
            type="checkbox"
            id="{{ field.id }}"
            name="{{ field.name | default(field.id) }}"
            value="{{ field.value }}"
            class="p-checkbox__input"
            aria-labelledby="{{ field.id }}_label"
            {% if field.isSelected %}checked{% endif %}
            {% if field.isRequired %}required{% endif %}
          />
          <span class="p-checkbox__label" id="{{ field.id }}_label">{{ field.label }}</span>
        </label>
        {% if field.hasTextArea %}
          <textarea
            name="{{ field.id }}_text"
            class="u-hide js-other-text"
            aria-hidden="true"
          ></textarea>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
