{% extends "_base/base.html" %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/shared/vf_article_block.jinja" import vf_article_block %}

{% set section_title="Engage Page" %}
{% set section_path="/engage" %}

{% block title %}{{metadata['topic_name']}}{% endblock %}
{% block meta_description %}{{metadata['subtitle']}}{% endblock %}
{% block meta_image %}{{metadata['meta_image']}}{% endblock %}

{% block head_extra %}
  <meta name="discourse-url" value="{{ metadata['topic_path'] }}" />
{% endblock %}

{% block meta_copydoc %}{metadata["meta_copydoc]}{% endblock meta_copydoc %}

{% block outer_content %}

{# identify the last section to apply deep padding to #}
  {% set last_section = "body" %}
  {% if 'webinar_code' in metadata %}
    {% set last_section = "webinar" %}
  {% endif %}
  {% if related_pages_metadata|length > 0 %}
    {% set last_section = "related" %}
  {% endif %}

{% call(slot) vf_hero(
    title_text=metadata["topic_name"],
    layout='25/75',
    blocks=[
      {
        "type": "description",
        "padding": "shallow",
        "item": {
          "type": "html",
          "content": '<h2 class="p-heading--4">' + metadata["subtitle"] + '</h2>'
        }
      }
    ]
  ) -%}
  {%- if slot == 'signpost_image' -%}
      <div class="p-image-container u-hide--medium">
        <img class="p-image-container__image u-no-margin" src="{{metadata['image']}}" alt="signpost_image">
      </div>
  {%- endif -%}
{%- endcall -%}

<section class="{% if last_section == 'body' %}p-section--deep{% else %}p-section{% endif %}">
  <div class="p-strip is-shallow grid-row">
    <div class="u-fixed-width u-hide--small u-hide--medium grid-col-start-large-3">
      <hr class="p-rule" />
    </div>
    <div class="grid-col-start-large-3 grid-col-4 p-engage-body">
      {{ metadata["body_html"] | safe }}
    </div>
    <div class="col-2 u-sticky-col p-engage-form" style="max-height: 100vh; overflow-y: auto">
      {% if "form_id" in metadata and metadata["form_id"] != "" %}
        {% if "form_cta" in metadata and metadata["form_cta"] != '' %}
          {% with id=metadata["form_id"], returnURL="https://jp.ubuntu.com" + metadata['path']+"/thank-you", cta=metadata['form_cta'] %}
            {% include "engage/shared/_form.html" %}
          {% endwith %}
        {% else %}
          {% with id=metadata["form_id"], returnURL="https://jp.ubuntu.com" + metadata['path']+"/thank-you" %}
            {% include "engage/shared/_form.html" %}
          {% endwith %}
        {% endif %}
      {% elif "primary_link" in metadata and metadata["primary_link"] != "" %}
        <div class="p-section--shallow u-hide--small u-hide--medium">
          <div class="p-image-container--16-9 is-highlighted">
            <img class="p-image-container__image"
                  src="{{ metadata['meta_image'] if metadata['meta_image'] else 'https://assets.ubuntu.com/v1/1199af9d-fallback-thumbnail-dark.jpg' }}"
                  alt=""
                  width="{{ metadata['image_width'] }}" />
          </div>
        </div>
        <a href="{{ metadata['primary_link'] }}" class="p-button--positive">{{ metadata["primary_cta"] }}</a>
      {% endif %}
      <div class="u-fixed-width u-hide--large">
        <hr class="p-rule" />
      </div>
    </div>
  </div>
  
    <!-- calendly -->
    {% if "calendly_url" in metadata and metadata.calendly_url != "" %}
      <div class="calendly-inline-widget" data-url="{{ metadata.calendly_url }}" style="min-width:320px;height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    {% endif %}
</section>

{% if "webinar_code" in metadata and metadata.webinar_code != "" %}
  {% if "channel_id" in metadata %}
    {% set channel_id = metadata["channel_id"] %}
  {% else %}
    {% set channel_id = 6793 %}
  {% endif %}
  <!-- webinar -->
  <section class="p-strip {% if last_section == 'webinar' %}p-section--deep{% else %}p-section{% endif %}" id="register-section">
    <div class="row" id="webinar">
      <div class="jsBrightTALKEmbedWrapper" style="width:100%; height:100%; position:relative;background: #ffffff;">
        <script class="jsBrightTALKEmbedConfig" type="application/json">{ "channelId" : {{channel_id}}, "language": "cn-ZH", "commId" : {{ metadata["webinar_code"] }}, "displayMode" : "standalone", "height" : "auto" }</script>
        <script src="https://www.brighttalk.com/clients/js/player-embed/player-embed.js" class="jsBrightTALKEmbed"></script>
      </div>
    </div>
  </section>
{% endif %}

{% if related_pages_metadata|length > 0 %}
  <div class="p-section--deep">
    <div class="p-section--shallow">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2>Additional resources</h2>
      </div>
    </div>
    {% for related in related_pages_metadata[:3] %}
      <div class="p-section--shallow">
        <div class="grid-row">
          {% if not loop.first %}<hr class="p-rule--muted" />{% endif %}
          <div class="grid-col-2">
            <h3 class="p-text--small-caps">{{ related.type }}</h3>
          </div>
          <div class="grid-col-2 u-hide--small u-hide--medium">
            <div class="p-image-container--16-9 is-highlighted">
              <img class="p-image-container__image"
                    src="{% if related.meta_image %}{{ related.meta_image }}{% else %}https://assets.ubuntu.com/v1/c797f1d7-og_%20canonical.png{% endif %}"
                    alt="" />
            </div>
          </div>
          <div class="grid-col-4">
            {{- vf_article_block(article_config={
                          "title": {"text": related.topic_name, "link_attrs": {"href": related.path }},
                          "description": {"text": related.subtitle}
                          }) -}}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock outer_content %}
