{% set hide_nav = False %}
{% extends "_base/base.html" %}

{% block title %}Ubuntuのケーススタディ、ホワイトペーパー、ウェビナー{% endblock %}

{% block meta_description %}UbuntuとCanonical全体のリソースが1つのポータルに統合されました{% endblock %}

{% block meta_copydoc %}{% endblock meta_copydoc %}

{% block outer_content %}

<section class="p-section--hero grid-row">
  <div class="grid-col-start-large-3 grid-col-small-4 grid-col-medium-4 grid-col-6">
    <h1 class="u-text-align">Ubuntuの導入事例・ホワイトペーパー・ウェビナー</h1>
  </div>
</section>

<section>
  <section class="p-section">
    <div class="grid-row p-engage-list">
      {% for item in metadata %}
        {% if page == 1 and loop.index <= 2 and item.image %}
          {% with
            title=item.topic_name,
            title_link=item.path,
            description=item.subtitle,
            type=item.type | title,
            image_src=item.meta_image,
            image_alt=item.topic_name %}
            {% include "/engage/shared/_article-card.html" %}
          {% endwith %}
        {% else %}
          {% with
            title=item.topic_name,
            title_link=item.path,
            description=item.subtitle,
            type=item.type | title %}
            {% include "/engage/shared/_article-card.html" %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <section class="p-section--deep">
    {% with %}
      {% set total_pages = total_pages %}
      {% set current_page = page %}
      {% include "shared/_pagination.html" %}
    {% endwith %}
  </section>
</section>
{% endblock outer_content %}
