canonicalwebteam.flask-base==2.6.0
canonicalwebteam.discourse==5.4.3
canonicalwebteam.http==1.0.4
canonicalwebteam.blog==6.8.2
canonicalwebteam.image-template==1.9.0
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.cookie-service==1.0.5
Flask-Caching==2.3.1
filelock==3.12.0
python-dateutil==2.9.0.post0
pyyaml==6.0.3
vcrpy-unittest==0.1.7
black==26.1.0
