interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=5&tags=3184
  response:
    body:
      string: '[{"id":127606,"date":"2025-11-24T04:00:00","date_gmt":"2025-11-24T04:00:00","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=127606"},"modified":"2025-11-19T04:16:48","modified_gmt":"2025-11-19T04:16:48","slug":"canonical-achieves-iso-27001-certification-jp","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2025\/11\/24\/canonical-achieves-iso-27001-certification-jp\/","title":{"rendered":"ISO
        27001 \u8a8d\u8a3c"},"content":{"rendered":"\n<h2 class=\"wp-block-heading\">Canonical\u3001ISO
        27001\u8a8d\u8a3c\u3092\u53d6\u5f97<\/h2>\n\n\n\n<p><strong>\u4eca\u56de\u306e\u8a8d\u8a3c\u53d6\u5f97\u306b\u3088\u308a\u3001\u6975\u3081\u3066\u53b3\u3057\u3044\u4f01\u696d\u74b0\u5883\u3067\u306e\u4f7f\u7528\u306b\u304a\u3044\u3066\u3082\u30aa\u30fc\u30d7\u30f3\u30bd\u30fc\u30b9\u306e\u88fd\u54c1\u304a\u3088\u3073\u30b5\u30fc\u30d3\u30b9\u3092\u5f37\u529b\u306b\u4fdd\u8b77\u3059\u308b\u30b5\u30a4\u30d0\u30fc\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u57fa\u6e96\u3078\u306e\u6e96\u62e0\u304c\u8a3c\u660e\u3055\u308c\u307e\u3059\u3002<\/strong><strong><\/stron[...]
