interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&amp;per_page=3&amp;page=1&amp;sticky=true&amp;_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&amp;_embed=true">https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&amp;per_page=3&amp;page=1&amp;sticky=true&amp;_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&amp;_embed=true</a>.
        If not, click the link.

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect, <https://res.cloudinary.com>; rel=preconnect
      location:
      - https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
      x-clacks-overhead:
      - GNU Terry Pratchett
    status:
      code: 302
      message: Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&amp;_fields=id%2Cname%2Cslug%2Cparent">https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&amp;_fields=id%2Cname%2Cslug%2Cparent</a>.
        If not, click the link.

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect, <https://res.cloudinary.com>; rel=preconnect
      location:
      - https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
      x-clacks-overhead:
      - GNU Terry Pratchett
    status:
      code: 302
      message: Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1175,"name":"Events","slug":"events","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&amp;_fields=id%2Cname%2Cslug%2Cparent">https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&amp;_fields=id%2Cname%2Cslug%2Cparent</a>.
        If not, click the link.

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect, <https://res.cloudinary.com>; rel=preconnect
      location:
      - https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
      x-clacks-overhead:
      - GNU Terry Pratchett
    status:
      code: 302
      message: Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1187,"name":"Webinars","slug":"webinars","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&categories=1175%2C1187&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '<!doctype html>

  [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&categories=1175%2C1187&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=16&page=1&status=publish&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '<!doctype html>

        <[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=16&page=1&status=publish&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":129607,"date_gmt":"2026-06-15T05:34:37","modified_gmt":"2026-06-18T08:01:57","slug":"ubuntu-16-04-lts-has-reached-the-end-of-standard-expanded-security-maintenance-with-ubuntu-pro-here-are-your-options-jp","title":{"rendered":"Ubuntu
        16.04 LTS\u306eUbuntu Pro\u6a19\u6e96Expanded Security Maintenance\u304c\u7d42\u4e86\u3002\u3053\u306e\u5f8c\u306f\u3069\u3046\u3059\u308b\uff1f"},"excerpt":{"rendered":"<p>Ubuntu
        16.04 LTS\uff08Xenial Xerus\uff09\u306e5\u5e74\u9593\u306eExpanded Security
        Maintenance\uff08ESM\uff09\u304c2026\u5e744\u6708\u306b\u7d42\u4e86\u3057\u307e\u3057\u305f\u300216.04\u3092\u307e\u3060\u304a\u4f7f\u3044\u306e\u304a\u5ba2\u69d8\u306f\u3001\u5f15\u304d\u7d9a\u304d\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u3068\u30b3\u30f3\u30d7\u30e9\u30a4\u30a2\u30f3\u30b9\u3092\u4fdd\u3064\u305f\u3081\u3001\u5fc5\u305a\u30b5\u30dd\u30fc\u30c8\u30b9\u30c6\u30fc\u30bf\[...]
