interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&amp;per_page=3&amp;page=1&amp;sticky=true&amp;_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&amp;_embed=true">https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&amp;per_page=3&amp;page=1&amp;sticky=true&amp;_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&amp;_embed=true</a>.
        If not, click the link.

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect, <https://res.cloudinary.com>; rel=preconnect
      location:
      - https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
      x-clacks-overhead:
      - GNU Terry Pratchett
      x-vcs-revision:
      - 1763762855-e125430
      x-view-name:
      - canonicalwebteam.templatefinder.templatefinder.template_finder
    status:
      code: 302
      message: ''
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&sticky=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&amp;_fields=id%2Cname%2Cslug%2Cparent">https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&amp;_fields=id%2Cname%2Cslug%2Cparent</a>.
        If not, click the link.

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect, <https://res.cloudinary.com>; rel=preconnect
      location:
      - https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
      x-clacks-overhead:
      - GNU Terry Pratchett
      x-vcs-revision:
      - 1763762855-e125430
      x-view-name:
      - canonicalwebteam.templatefinder.templatefinder.template_finder
    status:
      code: 302
      message: ''
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1175,"name":"Events","slug":"events","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '<!doctype html>

        <html lang=en>

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to the target URL: <a href="https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&amp;_fields=id%2Cname%2Cslug%2Cparent">https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&amp;_fields=id%2Cname%2Cslug%2Cparent</a>.
        If not, click the link.

        '
    headers:
      content-type:
      - text/html; charset=utf-8
      link:
      - <https://assets.ubuntu.com>; rel=preconnect; crossorigin, <https://assets.ubuntu.com>;
        rel=preconnect, <https://res.cloudinary.com>; rel=preconnect
      location:
      - https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
      x-clacks-overhead:
      - GNU Terry Pratchett
      x-vcs-revision:
      - 1763762855-e125430
      x-view-name:
      - canonicalwebteam.templatefinder.templatefinder.template_finder
    status:
      code: 302
      message: ''
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_fields=id%2Cname%2Cslug%2Cparent
  response:
    body:
      string: '[{"id":1187,"name":"Webinars","slug":"webinars","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&categories=1175%2C1187&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '<!doctype html>

  [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=3&page=1&categories=1175%2C1187&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":127108,"date_gmt":"2025-10-03T05:25:00","modified_gmt":"2025-10-03T05:25:00","slug":"canonical-day-tokyo-2025-jp","title":{"rendered":"Canonical
        Day Tokyo 2025\uff1aCanonical \u00d7 NTT\u30c6\u30af\u30ce\u30af\u30ed\u30b9\u3068\u5171\u50ac\u3059\u308b\u30aa\u30fc\u30d7\u30f3\u30bd\u30fc\u30b9\u306e\u672a\u6765"},"excerpt":{"rendered":"<p>\u4f01\u696d
        IT \u74b0\u5883\u306b\u304a\u3044\u3066\u3001\u9577\u671f\u7684\u306a\u5b89\u5b9a\u904b\u7528\u3068\u4fca\u654f\u306a\u6280\u8853\u9032\u5316\u306e\u4e21\u7acb\u306f\u6b20\u304b\u305b\u307e\u305b\u3093\u3002
        \u4eca\u56de\u306e Canonical Day Tokyo 2025 \u306f\u3001NTT\u30c6\u30af\u30ce\u30af\u30ed\u30b9\u3068\u5171\u50ac\u3057\u3001\u300c12\u5e74\u9593\u306e\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9\u30ea\u30b9\u30af\u3092\u89e3\u6d88
        : \u30a4\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ubuntu.com/blog/wp-json/wp/v2/posts?tags=3184&per_page=11&page=1&status=publish&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '<!doctype html>

        <[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=3184&per_page=11&page=1&status=publish&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&_embed=true
  response:
    body:
      string: '[{"id":127606,"d[...]
