// Apply to `grid-col-*` element to make it sticky within its
// parent container.
.u-sticky-col {
  align-self: start;
  position: sticky;
  top: $spv--strip-regular; // Account for navigation
  z-index: 1;
}


@mixin ubuntu-p-engage {
  // reorder form above body content on smaller screens
  @media (max-width: $breakpoint-large) {
    .p-engage-body {
      order: 2;
    }

    .p-engage-form {
      // disable sticky behavior when stacked on smaller screens
      max-height: none;
      order: 1;
      overflow-y: visible;
      position: static;
    }
  }
}
