{% extends "_base/base.html" %}

{% from "_macros/vf_card.jinja" import vf_card %}

{% set active_page = "blog" %}

{% block title %}ブログ | Ubuntu{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block outer_content %}
  <div class="p-strip">
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3">
        <h1 class="p-heading--display">ブログ</h1>
      </div>
    </div>
    <div class="p-suru u-hide--medium u-hide--small"></div>
  </div>

  {% if current_page and current_page == 1 and featured_articles %}
    {% include "blog/featured-article.html" %}
  {% endif %}

  <section class="p-section">
    <div class="grid-row">
      {% for article in articles%}
        {% if loop.index == 9 %}
          <hr class="u-hide--large p-rule" />
          <div>{% include 'blog/newsletter-form.html' %}</div>
        {% endif %}
          {% include "blog/blog-card.html" %}
      {% endfor %}
    </div>
  </section>

  <section class="p-section--deep">
    {% with %}
      {% set total_pages = total_pages %}
      {% set current_page = current_page %}
      {% set hide_horizontal_rule = True %}
      {% include "shared/_pagination.html" %}
    {% endwith %}
  </section>

{% endblock %}