{% extends "_base/base.html" %}

{% block title %}{{ resource_name }}のダウンロード{% endblock %}

{% block outer_content %}

<section class="is-active p-takeover--grad">
  <div class="u-fixed-width navigation-logo-engage">
    <a href="/">
      {{
        image(
            url="https://assets.ubuntu.com/v1/f263d9c4-logo-ubuntu-white.svg",
            alt="Ubuntu",
            width="143",
            height="32",
            hi_def=True,
            loading="auto",
        ) | safe
      }}
    </a>
  </div>
  <div class="row">
    <div class="col-8">
       <h1 class="p-heading--2">ありがとうございます！</h1>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      {% if thank_you_text %}
        {{ thank_you_text }}
      {% endif %}         
      {% if 'pages.ubuntu.com' or 'assets.ubuntu.com' in resource_url %}
        <p>
          {{ resource_name }}をダウンロード中です...
        </p>
      <p>
        <a class="p-button--positive" href="{{ resource_url }}">ダウンロード</a>
      </p>
      {% else %}
        <p>
          申し訳ありませんが、ダウンロードを開始できませんでした。 <a class="p-link--external" href="https://github.com/canonical-web-and-design/cn.ubuntu.com/issues/new?body=Bad+resource+download+link+from {{ request.url | urlencode }}">GitHub</a>から報告してください。
        </p>
      {% endif %}
    </div>
  </div>
</section>

{% if related | length > 0 %}
<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2 class="p-heading--3">関連リンク&hellip;</h2>
    </div>
  </div>
  <div class="row p-divider">
    {% for page in related[0:3] %}
    <div class="col-4 p-divider__block">
      <!-- THREE ADDITIONAL CTAs -->
      <h4>{{page["topic_name"]}}</h4>
      <p>{{page["subtitle"]}}</p>
      <p><a href="{{page['path']}}">続きを見る&nbsp;&rsaquo;</a></p>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock outer_content %}
