{% extends "_base/base.html" %}

{% block title %}404 - Page not found | Ubuntu{% endblock %}

{% block content_container %}
  <div class="p-strip is-deep">
    <div class="grid-row--25-75">
      <hr class="p-rule" />
      <div class="grid-col">
        <h1>404</h1>
      </div>
      <div class="grid-col">
        <p class="p-heading--1">ページが見つかりません</p>
        <p class="p-heading--2">
          お探しのページは見つかりませんでした。
          エラーの可能性がある場合は、<a href="https://github.com/canonical/jp.ubuntu.com/issues/new">問題を報告してください</a>。
        </p>
      </div>
    </div>
  </div>
{% endblock %}
