{% extends "_base/base.html" %}

{% block title %}500 - Internal server error | Ubuntu{% endblock %}

{% block content_container %}
  <div class="p-strip is-deep">
    <div class="grid-row--25-75">
      <hr class="p-rule" />
      <div class="grid-col">
        <h1>500</h1>
      </div>
      <div class="grid-col">
        <p class="p-heading--1">Server error</p>
        <p class="p-heading--2">
          ページを読み込めませんでした。
          <br />
          再読み込みするか、<a href="https://github.com/canonical/jp.ubuntu.com/issues/new">問題を報告してください</a>。
        </p>
        <br />
        <p class="p-heading--2">
          ※現在対応中の<a href="https://github.com/canonical/jp.ubuntu.com/issues">既知の問題</a>である可能性があります。
        </p>
      </div>
    </div>
  </div>
{% endblock %}
