{% extends "_base/base.html" %}
{% set active_page = "kubernetes" %}

{% block title %}UbuntuはKubernetes | Ubuntu{% endblock %}

{% block meta_description %}Ubuntu K8sは幅広いクラウドでテストされ、最新の測定基準やモニタリングと統合されたピュアKubernetesの体験を提供しています。{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1t-fQU3HfRNRVoIRjsFJRyDbHq-NvP7YapdnijAqBtNI/edit{% endblock meta_copydoc %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_quote-wrapper.jinja" import vf_quote_wrapper %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}
{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}
{% from "_macros/vf_cta-section.jinja" import vf_cta_section %}
{% from "_macros/vf_rich-vertical-list.jinja" import vf_rich_vertical_list %}
{% from "_macros/vf_divided-section.jinja" import vf_divided_section %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block outer_content %}
  {% call(slot) vf_hero(
    title_text='マルチクラウド運用に対応する エンタープライズグレードの Kubernetes',
    layout='50/50-full-width-image'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        重要なのは、Kubernetes環境のセキュリティを長期的に確保し、インフラストラクチャではなくアプリケーションに重点を置くこと。Canonical Kubernetesでは、インストールとメンテナンスに労力をかけず、コンテナ化したワークロードを安心して実行できます。
      </p>
    {%- endif -%}
    {%- if slot == 'cta' -%}
      <a href="/contact-us?product=kubernetes"
         class="p-button--positive">お問い合わせ</a>
      <a href="https://ubuntu.com/kubernetes/install">Canonical Kubernetesを使ってみる&nbsp;&rsaquo;</a>
    {%- endif -%}
    {%- if slot == 'image' -%}
      <div class="p-image-container--cinematic is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/7d724c59-hero.png",
                alt="",
                width="3696",
                height="1540",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    {% endif -%}
  {% endcall -%}

  {{ vf_basic_section(
  title={"text": "Canonical Kubernetesプラットフォームを選ぶ理由"},
  is_split_on_medium=true,
  items=[
    {
      "type": "list",
      "item": {
        "list_items": [
          {
            "list_item_type": "tick",
            "content": "12年間のセキュリティメンテナンスとサポートにより、アップグレードスケジュールを柔軟に設定可能"
          },
          {
            "list_item_type": "tick",
            "content": "ネットワーキング、ローカルストレージ、DNS、ロードバランサー、メトリクスサーバー、ゲートウェイ、イングレスに対応した最高峰のオープンソースコンポーネントを内蔵しているため、簡単に使用できる"
          },
          {
            "list_item_type": "tick",
            "content": "設計、開発、運用まで手作業は不要（ZeroOps） ― 小さなKubernetesクラスター単位でノードを簡単に追加して管理"
          },
          {
            "list_item_type": "tick",
            "content": "自動クラスター機能により、<a href=\"https://canonical.com/juju\">Juju</a>での大規模なメンテナンスが容易"
          },
          {
            "list_item_type": "tick",
            "content": "セキュリティを管理した同じKubernetesをノートPCから、クラウド、データセンターまで拡張可能"
          },
          {
            "list_item_type": "tick",
            "content": "CNCFの規格に適合"
          }
        ]
      }
    },
    {
      "type": "cta-block",
      "item": {
        "secondaries": [
          {
            "content_html": "Ubuntu Pro購入サポート",
            "attrs": {
              "href": "/pro"
            }
          }
        ],
      }
    }
  ]
) }}

  <section class="p-section">
    <!-- <hr class="p-rule--highlight is-fixed-width" />
    <div class="u-fixed-width">
      <h2 class="p-text--small-caps">お客様のコメント</h2>
    </div> -->
    {% call(slot) vf_quote_wrapper(
      title_text="お客様のコメント",
      quote_size="small",
      quote_text="「Kubernetesは変化が速く、難しいため、自社でサポートすることは現実的ではありませんでした。大変な作業になるでしょうから。サポートと更新は、その作業に毎日携わっている専門家に任せるほうが効率的です。」",
      citation_source_name_text="Michael Hawkshaw氏",
      citation_source_title_text="ESAミッション運用インフラストラクチャITサービスマネージャー
欧州宇宙運用センター（ESOC）",
      is_shallow=True
      ) -%}

      {%- if slot == 'signpost_image' -%}
        {{ image(url="https://assets.ubuntu.com/v1/d2f13d46-logo-esa-wide.png",
                alt="",
                width="852",
                height="189",
                hi_def=True,
                loading="lazy") | safe
        }}
      {%- endif -%}

    {% endcall -%}

    {% call(slot) vf_quote_wrapper(
      quote_size="small",
      quote_text="「アップストリームのKubernetesに近く、エンタープライズサポートを提供するKubernetesディストリビューションを探していました。Canonicalのサポートは質が高く、有効で、よく整理されています。」",
      citation_source_name_text="Patric Lichtsteiner氏",
      citation_source_title_text="Linuxシニアシステムエンジニア",
      citation_source_organisation_text="ZHAW",
      is_shallow=true
      ) -%}

      {%- if slot == 'signpost_image' -%}
        {{ image(url="https://assets.ubuntu.com/v1/ecc63b0c-logo-zhaw-wide.png",
                alt="",
                width="852",
                height="222",
                hi_def=True,
                loading="lazy") | safe
        }}
      {%- endif -%}

    {% endcall -%}
  </section>

  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="p-section--shallow u-fixed-width">
      <h2>2015年からKubernetesをサポート</h2>
    </div>
    <div class="p-section--shallow">
      <div class="grid-row--50-50">
        <div class="grid-col">
          <h3>Canonical Kubernetes</h3>
          <p>
            信頼できるプロバイダーにKubernetesインフラストラクチャのセキュリティと自動化をお任せください。Canonicalには2015年から蓄積した経験があります。新しいKubernetesディストリビューションは、手間要らずのメンテナンス、シンプルなインストール手順、アップグレードの柔軟性が特徴です。デフォルトでセキュリティを備え、Ubuntu Proのサブスクリプションでは12年間のサポートが保証されます。
          </p>

        </div>
        <div class="grid-col">
          <div class="p-image-container">
            {{ image(url="https://assets.ubuntu.com/v1/6dffa7f1-kubernetes-platform-updated.png",
                        alt="",
                        width="1800",
                        height="1013",
                        hi_def=True,
                        attrs={"class": "p-image-container__image"},
                        loading="lazy") | safe
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="grid-row--25-75-on-large">
        <hr class="p-rule--muted" />
        <div class="grid-col">
          <h3>その他のディストリビューション</h3>
        </div>
        <div class="grid-col">
          <div class="grid-row">
            <div class="grid-col-2 grid-col-medium-2">
              <h4 class="p-heading--5">MicroK8s</h4>
            </div>
            <div class="grid-col-4 grid-col-medium-2">
              <p>
                クラウド、エッジ、IoTに対応する軽量でロータッチのKubernetes。すべてのKubernetesサービスと最もよく利用されているアドオンを1つのパッケージにまとめ、簡単なクラスター化、自己修復型のHA（高可用性）、シンプルなアップグレード機能を備えているため、手間がかかりません。デフォルトでセキュリティが確保されており、CNCFの規格に適合します。
              </p>
              <p>
                <a href="https://canonical.com/microk8s">MicroK8sの詳細&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
          <hr class="p-rule--muted" />
          <div class="grid-row">
            <div class="grid-col-2 grid-col-medium-2">
              <h4 class="p-heading--5">Charmed Kubernetes</h4>
            </div>
            <div class="grid-col-4 grid-col-medium-2">
              <p>
                コンポーザブルで演算子ベースの企業向けKubernetes。<a href="https://canonical.com/juju">Juju</a>によるホストとインクラスターのフルライフサイクル管理に対応します。事業者グレードのハードウェアアクセラレーション機能を備え、サードパーティのコンポーネントやサービスもサポートします。デプロイは全面的にカスタマイズ可能で、CNI、CSI、CRI、モニタリングコンポーネントはプラグインです。デフォルトでセキュリティが確保されており、CNCFの規格に適合します。
              </p>
              <p>
                <a href="https://ubuntu.com/kubernetes/charmed-k8s">Charmed Kubernetesの詳細&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="p-rule--muted" />
      <div class="col-start-large-7 col-6">
        <p>
          <a class="p-button"
             href="/contact-us?product=kubernetes"
             >詳細のお問い合わせ</a>
        </p>
      </div>
    </div>
  </section>

  {% call(slot) vf_rich_vertical_list(
    title_text='Ubuntuベースの
パブリッククラウドKubernetes',
    list_item_tick_style="tick",
    is_flipped=true
  ) -%}
    {%- if slot == 'description' -%}
    <p class="u-no-margin--bottom">
      クラウド向けの機能、最適化したカーネル、無限のオプション
    </p>
    {%- endif -%}

    {%- if slot == 'list_item_1' -%}
      Ubuntuは、世界で最も人気の高いクラウドホスト型KubernetesのホストOS
    {%- endif -%}
    {%- if slot == 'list_item_2' -%}
      すべての主要パブリッククラウドでパフォーマンス、ブート速度、ドライバーを最適化
    {%- endif -%}
    {%- if slot == 'list_item_3' -%}
      そのままでクラウドと統合し、エンタープライズグレードの商用サポートオプションも利用可能
    {%- endif -%}
    {%- if slot == 'list_item_4' -%}
      Ubuntu Proによってさらに深くクラウドサービスと統合
    {%- endif -%}
    {%- if slot == 'list_item_5' -%}
      クラウド内のUbuntuパッケージミラーによる高帯域幅とローカル更新
    {%- endif -%}
    {%- if slot == 'list_item_6' -%}
      Canonical Livepatchによってカーネルのセキュリティパッチ適用を全面的に制御
    {%- endif -%}

    {%- if slot == 'logo_section' -%}
      <div class="p-logo-section--dense">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/15f4f759-aws-logo.png",
                          alt="AWS",
                          width="151",
                          height="312",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/f1ec4ff5-microsoft-azure-logo%20[DEPRECATED]%20.png",
                          alt="Microsoft Azure",
                          width="272",
                          height="312",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/c09079b4-google-cloud-logo-horizontal.png",
                          alt="Google Cloud",
                          width="382",
                          height="313",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <br class="u-hide--small u-hide--medium" />
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/4a30e5f7-ibm-cloud-logo.png",
                          alt="IBM Cloud",
                          width="437",
                          height="312",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/dbab531e-oracle-cloud-logo.png",
                          alt="Oracle Cloud",
                          width="387",
                          height="312",
                          hi_def=True,
                          loading="lazy",
                          attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if slot == 'cta' -%}
      <a href="https://ubuntu.com/cloud/public-cloud">パブリッククラウド上のUbuntuの詳細 &rsaquo;</a>
    {%- endif -%}
    {%- if slot == 'image' -%}
      <div class="p-image-container--2-3 is-cover u-hide--small u-hide--medium">
        {{ image(url="https://assets.ubuntu.com/v1/5a2779e1-public%20cloud.png",
                  alt="",
                  width="1800",
                  height="2701",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
      <div class="p-image-container--3-2-on-medium p-image-container--16-9-on-small is-cover u-hide--large">
        {{ image(url="https://assets.ubuntu.com/v1/5a2779e1-public%20cloud.png",
                  alt="",
                  width="1800",
                  height="2701",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    {%- endif -%}
  {% endcall -%}

  {% call(slot) vf_rich_vertical_list(
    title_text='総合的な
クラスター管理プラットフォーム',
    list_item_tick_style="tick"
  ) -%}
    {%- if slot == 'description' -%}
    <p class="u-no-margin--bottom">
      Kubernetesクラスター管理の面倒を解消
    </p>
    {%- endif -%}

    {%- if slot == 'list_item_1' -%}
      yamlやcliは不要、一般的なGUIを統合
    {%- endif -%}
    {%- if slot == 'list_item_2' -%}
      1つの画面でKubernetesとコンテナを可視化
    {%- endif -%}
    {%- if slot == 'list_item_3' -%}
      マルチクラスター管理とリアルタイムモニタリングを統一
    {%- endif -%}
    {%- if slot == 'list_item_4' -%}
      ポリシーベースの管理、ガバナンス、セキュリティ、コンプライアンス
    {%- endif -%}
    {%- if slot == 'list_item_5' -%}
      GitOpsでアプリケーションの大規模な管理と設定に対応
    {%- endif -%}
    {%- if slot == 'list_item_6' -%}
      パブリッククラウドからエッジまで共通する柔軟性
    {%- endif -%}

    {%- if slot == 'logo_section' -%}
      <div class="p-logo-section--dense">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/58440b6b-rancher-logo.png",
                            alt="Rancher",
                            width="107",
                            height="96",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/19c3c265-spectrocloud-logo.png",
                            alt="Spectro Cloud",
                            width="87",
                            height="96",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/9ffbe97e-azure-arc-logo.png",
                            alt="Azure arc",
                            width="42",
                            height="96",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if slot == 'image' -%}
    <div class="p-image-container--2-3 is-cover u-hide--small u-hide--medium">
        {{ image(url="https://assets.ubuntu.com/v1/9bcc23aa-on%20openstack.png",
                  alt="",
                  width="1800",
                  height="2701",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
      <div class="p-image-container--3-2-on-medium p-image-container--16-9-on-small is-cover u-hide--large">
        {{ image(url="https://assets.ubuntu.com/v1/9bcc23aa-on%20openstack.png",
                  alt="",
                  width="1800",
                  height="2701",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
      <!-- <div class="p-image-container u-hide--medium u-hide--small">
        {{ image(url="https://assets.ubuntu.com/v1/9bcc23aa-on%20openstack.png",
                  alt="",
                  width="1800",
                  height="2701",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-image-container__image"}) | safe
        }}
      </div> -->
    {%- endif -%}
  {% endcall -%}

  <section class="p-section">
    {{ vf_basic_section(
      title={"text": "Kubernetesへの
                <br class=\"u-hide--medium u-hide--small\" />
                移行をスタート"},
      padding="shallow",
      is_split_on_medium=true,
      items=[
        {
          "type": "description",
          "item": {
            "type": "text",
            "content": "CanonicalのKubernetesコンサルティング/クラスターデプロイサービス"
          }
        },
        {
          "type": "cta-block",
          "item": {
            "link": {
              "content_html": "詳細を問い合わせる ›",
              "attrs": {
                "href": "/contact-us?product=kubernetes"
              }
            }
          }
        }
      ]
    ) }}
    <div class="p-section--shallow">
      <div class="grid-row--50-50">
        <div class="grid-col">
          <hr class="p-rule--highlight u-no-margin--bottom" />
          <div class="p-card--overlay u-no-padding--top"
               style="padding: 1.5rem;
                      height: 95%;
                      overflow: hidden">
            <div class="row p-section--shallow">
              <div class="col">
                <h3>Kubernetes Explorer</h3>
                <p class="u-text--muted">チームのスキルを高める3日間のKubernetesトレーニングです。</p>
              </div>
            </div>
            <hr class="p-rule--muted u-no-margin--bottom" />
            <div class="grid-row">
              <div class="grid-col-1">
                <h4 class="p-text--small-caps">内容</h4>
              </div>
              <div class="grid-col-3">
                <ul class="p-list--divided">
                  <li class="p-list__item is-ticked">Kubernetesの基本</li>
                  <li class="p-list__item is-ticked">コンテナ開発の基礎</li>
                  <li class="p-list__item is-ticked">MicroK8sの運用準備</li>
                  <li class="p-list__item is-ticked">Charmed Kubernetesの運用準備</li>
                  <li class="p-list__item is-ticked">モニタリングとログ記録</li>
                  <li class="p-list__item is-ticked">Kubernetesのライフサイクル管理</li>
                  <li class="p-list__item is-ticked">セキュリティに関する知識</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-col">
          <hr class="p-rule--highlight u-no-margin--bottom" />
          <div class="p-card--overlay u-no-padding--top"
               style="padding: 1.5rem;
                      height: 95%;
                      overflow: hidden">
            <div class="row">
              <div class="col">
                <div class="p-section--shallow">
                  <h3 class="js-discoverer-text">Kubernetes Discoverer</h3>
                  <p class="u-text--muted js-discoverer-description">
                    3日間のトレーニングの後、2週間でKubernetesのリファレンスアーキテクチャをデプロイします。
                  </p>
                </div>
                <div style="display:inline-flex;">
                  <span class="p-heading--5">Discoverer</span>
                  <label class="p-switch"
                         aria-label="Toggle between Kubernetes Discoverer and Discoverer Plus plans"
                         style="display: inline-block;
                                padding-left: 32px;
                                padding-right: 32px">
                    <input type="checkbox"
                           class="p-switch__input js-discoverer-switch"
                           role="switch" />
                    <span class="p-switch__slider"></span>
                  </label>
                  <span class="p-heading--5">Discoverer Plus</span>
                </div>
              </div>
            </div>
            <hr class="p-rule--muted u-no-margin--bottom" />
            <div class="grid-row">
              <div class="grid-col-1">
                <h4 class="p-text--small-caps">内容</h4>
              </div>
              <div class="grid-col-3">
                <ul class="p-list--divided">
                  <li class="p-list__item is-ticked">高可用性</li>
                  <li class="p-list__item is-ticked js-discoverer-item">
                    <a href="https://ubuntu.com/public-cloud">パブリッククラウド</a>, VMware, <a href="/openstack">OpenStack</a>
                  </li>
                  <li class="p-list__item is-ticked u-hide js-discoverer-pro-item">
                    <a href="https://ubuntu.com/public-cloud">パブリッククラウド</a>, VMware, <a href="/openstack">OpenStack</a>, <a href="https://canonical.com/maas/">ベアメタル</a>
                  </li>
                  <li class="p-list__item is-ticked js-discoverer-item">ストレージとSDNの基本オプション</li>
                  <li class="p-list__item is-ticked u-hide js-discoverer-pro-item">ログ記録、モニタリング、アラート</li>
                  <li class="p-list__item is-ticked">ログ記録、モニタリング、アラート</li>
                  <li class="p-list__item is-ticked">Kubernetesのライフサイクル管理</li>
                  <li class="p-list__item is-ticked">セキュリティに関する知識</li>
                  <li class="p-list__item is-ticked">サポート型とフルマネージド型</li>

                  <li class="p-list__item is-crossed u-text--muted js-discoverer-muted-item">サードパーティ製品との統合</li>
                  <li class="p-list__item is-crossed u-text--muted js-discoverer-muted-item">GPUアクセラレーション</li>
                  <li class="p-list__item is-crossed u-text--muted js-discoverer-muted-item">プライベートレジストリオプション</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  {{ vf_basic_section(
  title={"text": "フルマネージドKubernetes"},
  padding="shallow",
  is_split_on_medium=true,
  items=[
    {
      "type": "description",
      "item": {
        "type": "text",
        "content": "パブリッククラウドとプライベートクラウド上で使用できる経済的な Kubernetes-as-a-service",
      }
    },
    {
      "type": "list",
      "item": {
        "list_items": [
          {
            "list_item_type": "tick",
            "content": "予測可能なコスト、フルスタックのモニタリング、責任の明確な所在"
          },
          {
            "list_item_type": "tick",
            "content": "ユーザーのニーズに応じてKubernetesデプロイをカスタマイズ"
          },
          {
            "list_item_type": "tick",
            "content": "専門チームが24時間無休で管理"
          },
          {
            "list_item_type": "tick",
            "content": "稼働時間99.9%のSLAでビジネスに全力を集中"
          },
          {
            "list_item_type": "tick",
            "content": "トラフィックのピークがある場合は、要望に応じて規模を調整"
          },
          {
            "list_item_type": "tick",
            "content": "SAASとして最新の安定版Kubernetesに速やかにアップグレード"
          },
          {
            "list_item_type": "tick",
            "content": "データとセキュリティは業界規格に適合"
          },
          {
            "list_item_type": "tick",
            "content": "いつでもKubernetesを自社管理に戻すことが可能"
          }
        ]
      }
    },
    {
      "type": "cta-block",
      "item": {
        "link": {
            "content_html": "マネージドKubernetesの詳細",
            "attrs": {
              "href": "https://ubuntu.com/kubernetes/managed"
            }
          }
      }
    }
  ]
) }}
<div class="p-section">
  <div class="p-image-container--cinematic u-fixed-width">
    {{ image(url="https://assets.ubuntu.com/v1/e8cb6c61-fully-managed.png",
          alt="",
          width="3696",
          height="1541",
          hi_def=True,
          loading="lazy",
          attrs={"class":"p-image-container__image"}) | safe
    }}
  </div>
</div>

  {% call(slot) vf_logo_section(
    mode="default",
    title={
      "text": "フルサポートのKubernetesクラウド"
    },
    blocks=[
      {
        "type": "logo-block",
        "item": {
          "logos": [
            image(url="https://assets.ubuntu.com/v1/3948d6dd-openstack-logo.png",
                        alt="OpenStack",
                        width="182",
                        height="138",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/4452b734-vmware-logo.png",
                        alt="VMWare",
                        width="140",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/d987ba27-Rackspace%20logo.png",
                        alt="Rackspace",
                        width="155",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/05285685-equinix-logo.png",
                        alt="Equinix",
                        width="113",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/dae49585-joyent-logo.png",
                        alt="Joyent",
                        width="105",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/b526fd14-cloud-sigma-logo.png",
                        alt="CloudSigma",
                        width="141",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/4ec1a195-maas-logo.png",
                        alt="Canonical MAAS",
                        width="87",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs"),
            image(url="https://assets.ubuntu.com/v1/cd584004-lxd-logo.png",
                        alt="Canonical LXD",
                        width="66",
                        height="135",
                        hi_def=True,
                        loading="lazy",
                        output_mode="attrs")
          ]
        }
      }
    ]
  ) -%}
{% endcall -%}

  {{ vf_divided_section(
    title={
      "text": "Canonical Kubernetesの詳細情報",
    },
    is_split_on_medium=true,
    blocks=[
    {
      "type": "divided-block",
      "bullet_type": "none",
      "items": [
            {
              "contents": [
                {
                  "type": "cta-block",
                  "item": {
                    "link": {
                      "content_html": "欧州宇宙機関（ESA）がCanonical Kubernetesでインフラストラクチャを整備 ›",
                      "attrs": {
                        "href": "https://ubuntu.com/case-study/esa"
                      }
                    }
                  }
                },
                {
                  "type": "description",
                  "item": {
                    "type": "text",
                    "content": "欧州宇宙機関（ESA）はCanonicalを通じて、複数のミッションに共通のシステムを自動的かつ効率的に短時間で導入するための新しい動的プラットフォームを実装しました。"
                  }
                },
              ]
            },
            {
              "contents": [
                {
                  "type": "cta-block",
                  "item": {
                    "link": {
                      "content_html": "KubernetesでMLワークロードを最適化 ›",
                      "attrs": {
                        "href": "https://ubuntu.com/engage/optimise-ml-workloads-on-kubernetes"
                      }
                    }
                  }
                },
                {
                  "type": "description",
                  "item": {
                    "type": "text",
                    "content": "既存の処理性能を利用してモデルトレーニングを高速化し、MLプロジェクトを実運用環境に移行できます。"
                  }
                },
              ]
            },
            {
              "contents": [
                {
                  "type": "cta-block",
                  "item": {
                    "link": {
                      "content_html": "MAASを使用し、ベアメタルKubernetesでワークロードを実行するには ›",
                      "attrs": {
                        "href": "https://ubuntu.com/engage/bare-metal-kubernetes"
                      }
                    }
                  }
                },
                {
                  "type": "description",
                  "padding": "deep",
                  "item": {
                    "padding": "deep",
                    "type": "text",
                    "content": "ベアメタルKubernetesの特性と仮想マシンとの違いを説明します"
                  }
                }
              ]
            },
      ]
    },
    {
      "type": "divided-block",
      "bullet_type": "none",
      "items": [
        {
          "contents":[
            {
              "type": "cta-block",
              "item": {
                "secondaries": [
                  {
                    "content_html": "その他のリソース",
                    "attrs": {
                      "href": "https://ubuntu.com/kubernetes/resources"
                    }
                  }
                ]
              }
            }
          ]
        }
      ]
    },
  ],
  ) 
  }}

  {% call(slot) vf_cta_section(
        title_text='Kubernetesに関する疑問に回答',
        variant='default',
        layout='100'
        ) -%}
  {%- if slot == 'cta' -%}
    <a href="/contact-us?product=kubernetes">お問い合わせ&rsaquo;</a>
  {%- endif -%}
  {% endcall -%}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const switchElement = document.querySelector('.js-discoverer-switch');
      const discovererText = document.querySelector('.js-discoverer-text');
      const discovererDescription = document.querySelector('.js-discoverer-description');
      const discovererProItems = document.querySelectorAll('.js-discoverer-pro-item');
      const discovererItems = document.querySelectorAll('.js-discoverer-item');
      const discovererMutedItems = document.querySelectorAll('.js-discoverer-muted-item');

      switchElement.addEventListener('change', function() {
        if (switchElement.checked) {
          discovererMutedItems.forEach(item => {
            item.classList.remove('is-crossed', 'u-text--muted');
            item.classList.add('is-ticked');
          });
          discovererItems.forEach(item => {
            item.classList.add('u-hide');
          });
          discovererProItems.forEach(item => {
            item.classList.remove('u-hide');
          });
          discovererText.textContent = 'Kubernetes Discoverer Plus';
          discovererDescription.textContent = 'カスタムアーキテクチャのデプロイと知識移転を含む3週間のプログラムです。';
        } else {
          discovererMutedItems.forEach(item => {
            item.classList.remove('is-ticked');
            item.classList.add('is-crossed', 'u-text--muted');
          });
          discovererItems.forEach(item => {
            item.classList.remove('u-hide');
          });
          discovererProItems.forEach(item => {
            item.classList.add('u-hide');
          });
          discovererText.textContent = 'Kubernetes Discoverer';
          discovererDescription.textContent = '3日間のトレーニングの後、2週間でKubernetesのリファレンスアーキテクチャをデプロイします。';
        }
      });
    });
  </script>

{% endblock outer_content %}
