{% extends "_base/base.html" %}

{% block title %}Ubuntuに連絡していただきありがとうございます | Ubuntu{% endblock %}

{% block meta_description %}すべてのUbuntu製品およびサービスに対するエンタープライズサポートについてCanonicalにお問い合わせください。{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/19XYYdpmWgp_ykb0_DbA5eo6rHlaQ-zGoenkSSTZl4Ls/edit{% endblock meta_copydoc %}

{% block head_extra%}<meta name="robots" content="noindex" />{% endblock %}

{% block outer_content %}

  <section class="is-bordered p-strip--light">
    <div class="row--50-50-on-large">
      <div class="col">
        <h1>このたびは、</h1>
        <h2>お手続きいただき</h2>
        <h2>ありがとうございます。</h2>
      </div>
      <div class="col">
        <img src="https://assets.ubuntu.com/v1/be940751-thank_you_hero.jpg" alt="happy group" height="400">
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <div class="col-10">
        <h2>エンタープライズ向けサービスの詳細</h2>
      </div>
    </div>
    <div class="row p-divider">
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--4">Ubuntu Pro</h3>
        <p>Ubuntuのデスクトップサポートの購入で、必要なときにいつでも Ubuntuのエキスパートへお問い合わせいただけます</p>
        <p><a class="p-link--external" href="https://buy.ubuntu.com">Ubuntu Proの購入</a></p>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--4">Ubuntu OpenStack</h3>
        <p>業界をリードするCanonicalのOpenStackベースのプライベートクラウドインフラストラクチャプラットフォームの詳細については、こちらをご覧ください。</p>
        <p><a class="p-link--external" href="/openstack">Learn about Ubuntu OpenStack</a></p>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--4">Landscape</h3>
        <p>当社のOpenStackベースのプライベートクラウドインフラストラクチャプラットフォームで企業内の Ubuntu を管理できます。</p>
        <p><a href="/pro">Landscape の詳細&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </section>

{% endblock outer_content %}

{% block footer_extra %}
  <!-- Google Code for Services Canonical &mdash; contact us Conversion Page -->
  <script>
    /* <![CDATA[ */
    var google_conversion_id = 1012391776;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "-mBBCIC5vwMQ4L7f4gM";
    var google_conversion_value = 0;
    /* ]]> */
  </script>
  <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversio
n.js"></script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="https://www.goog
leadservices.com/pagead/conversion/1012391776/?value=0&amp;label=-mBBCIC5vwMQ4L7f4gM&am
p;guid=ON&amp;script=0"/>
    </div>
  </noscript>
{% endblock footer_extra %}
